﻿<!DOCTYPE html>
   @*@{  string LoggedStatus = "";
       if (Session["UserName"] != null) {
           LoggedStatus = "In";
       }
       else
       {
           LoggedStatus = "Out";
       }
   }*@
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tietokannan hallintasovellus</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
   @{ 
       if (Session["UserName"] == null)
       {
           Html.RenderPartial("_NavbarLoggedOut");
       }
       else {
           Html.RenderPartial("_NavbarLoggedIn");
       }
   }
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TilausDB-tietokannan hallintasovellus - Sami Kling</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
