﻿@model WebAppTilausDB.Models.Henkilot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Henkilot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sukunimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sukunimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esimies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esimies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sahkoposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sahkoposti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Henkilo_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
