﻿@model WebAppTilausDB.Models.Tilaukset

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tilaukset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Toimitusosoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimitusosoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tilauspvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tilauspvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Toimituspvm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Toimituspvm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asiakkaat.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asiakkaat.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
