﻿@model WebAppTilausDB.Models.Tuotteet

@{
    ViewBag.Title = "Tuotteen kuvaus";
}
<style>
    .container {
        position: relative;
        width: auto;
    }

    .image {
        display: block;
        width: auto;
        height: 200px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: lightgrey;
    }

    .container:hover .overlay {
        opacity: 1;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Tuotteet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Ahinta.Value.ToString("c"))*@
            @Model.Ahinta.Value.ToString("c")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>

        <dd>
            <!--<a href="@Model.ImageLink"></a>--> @*Linkki Tuotteeseen ilman tekstiä.*@
            <div class="container">
                <img class="card-image-top" src="@Model.ImageLink" alt=@Model.ImageLink>
                <div class="overlay">
                    <div class="text"><a href="@Model.ImageLink">Click to see the source image</a></div>
                </div>
            </div>
            @*<img class="card-img-top" style="height: 200px; width: auto; display: block;" src=@Model.ImageLink alt="@Model.ImageLink">*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)

        </dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

    </dl>
</div>
<p>
    @if (Session["UserName"] != null) { 

        @Html.ActionLink("Poista    ", "Delete", new { id = Model.TuoteID })
        @Html.ActionLink("Muokkaa  ", "Edit", new { id = Model.TuoteID })
        @Html.ActionLink("Takaisin listaan  ", "Index")
    }
    
</p>
    
<p>
    @if (Session["UserName"] == null) 
    { 

     @Html.ActionLink("Takaisin listaan", "Index")
    }
     
</p>
    
    
